# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Hardhat cache & artifacts
cache/
artifacts/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

